.PreviewContainer {
  padding-top: 20px;
  padding-bottom: 50px;
  transition: transform .2s;
}

.Preview {
  width: 90%;
  margin: auto;
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  transition: transform .4s, box-shadow .4s ease-in-out;
}

.previewIMG {
  max-width:100%;
  height:auto;
}

.Preview:hover {
  transform: scale(0.9);
  color: black;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.PreviewTitle {
  text-align: center;
  font-size: 2.5vw;
}

.PreviewDate {
  font-size: 1.5vw;
  text-align: center;
}

.Description {
  font-size: 1.5vw;
  text-align: center;
}

.collectionLink {
  color: black;
}

.collectionLink:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .Preview {
    width: 90%;
  }

  .PreviewTitle{
    font-size: 7vw;
  }

  .PreviewDate {
    font-size: 5vw;
  }

  .Description {
    font-size: 5vw;
  }

}
