html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.titleBlock {
  width: 100%;
  height: 100%;
}

.mainTitle {
  color: white;
  text-align: center;
  position: absolute;
  font-weight: lighter;
  font-size: 7vw;
  white-space: nowrap;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainSubtitle {
  color: white;
  text-align: center;
  position: absolute;
  font-weight: lighter;
  font-size: 5vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainLink {
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 55%;
  left: 50%;
  border-bottom: 2px dotted rgba(256, 256, 256, .2);
  transition: .5s;
  transform: translate(-50%, -50%);
}

.mainLink:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px dotted rgba(256, 256, 256, 1);
}

.copy {
  color: white;
  font-size: 1.25vw;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 15vw;
  }

  .mainSubtitle {
    font-size: 10vw;
  }

  .mainLink {
    font-size: 7.5vw;
  }

  .copy {
    font-size: 5vw;
  }

}
