.SingleImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
  transition: transform .2s;
}

.SingleImage:hover {
  transform: scale(1.05);
}

.LargeSingleImage {
  max-width: 100%;
  height: auto;
}


@media only screen and (max-width: 768px) {
  .SingleImage {
    margin-bottom: 5px;
  }

  .ImageCol {
      padding-left: 2px;
      padding-right: 2px;
  }
}
