.App {
  width: 100vw;
  height: 100vh;
}

.Header {
  text-align: center;
  font-size: 5vw;
}


.ContentSection {
  padding-top: 62px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: static;
  overflow: auto;
}

.TextSection {
  padding-top: 20px;
  width: 75vw;
  margin: auto;
  text-align: center;
  font-size: 1.5vw;
}

.Loading {
  align-content: center;
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .Header {
    font-size: 11vw;
  }

  .TextSection {
    width: 90vw;
    font-size: 6vw;
  }

  .Loading {
    font-size: 6vw;
  }
}
