.App {
  width: 100vw;
  height: 100vh;
}

.Header {
  text-align: center;
  font-size: 5vw;
}


.ContentSection {
  padding-top: 62px;
  width: 95vw;
  margin: auto;
  background-color: #EEEEEE;
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  .Header {
    font-size: 10vw;
  }
}
